
/* font-family: 'Manrope', sans-serif; */

* {
    margin: 0;
    padding: 0;
}


body {
    min-width: 320px;
    overflow-x: hidden;
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    body {
        min-width: 360px;
        overflow-x: hidden;
    }
    #main_con {
        min-width: 360px;
    }
    #banner {
        padding: 29px 50px 4px;
    }
    #logo {
        padding: 0 153.5px 0;
    }
    #logo_text {
        padding: 6px 104px 0;
    }
    .btn {
        width: 305px;
        height: 50px;
        text-align: center;
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        border: 0px;
        transition: 0.5s;
    }
    #main_btn_sing_in {
        margin: 30px 35px 0;
        background: #249AFF;
        color: #fff;
    }
    #main_btn_sing_up {
        margin: 13px 35px 0;
        background: #fff;
        color: #249AFF;
        border: 1px solid #249AFF;
    }
    #main_btn_sing_in:hover {
        background: #fff;
        color: #249AFF;
        border: 1px solid #249AFF;
        font-size: 15px;
    }
    #main_btn_sing_up:hover {
        font-size: 15px;
    }

}
