* {
    margin: 0;
    padding: 0;
}


.con {
    min-width: 320px;
}


#banner {
    width: 100%;
}

#w-block {
    width: 100%;
    position: relative;
    top: -160px;
}

#logo {
    position: relative;
    padding: 0 372.5px;
    top: -950px;
    width: 24%;
}

#text-logo {
    position: relative;
    padding: 0 301.5px;
    top: -940px;
    width: 38.5%;
}

.btn {
    width: 95%;
    height: 80px;
    margin: 0 25px;
}

#btn1 {
    position: relative;
    top: -800px;
    background: #2DA6FF;
    color: #fff;
    border-radius: 30px;
    border: 6px solid;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    transition: .5s;
}

#btn1:hover {
    background: #fff;
    color: #2DA6FF;
}

#btn2 {
    position: relative;
    top: -770px;
    background: #2DA6FF;
    color: #fff;
    border-radius: 30px;
    border: 6px solid;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    transition: .5s;
}

#btn2:hover {
    background: #fff;
    color: #2DA6FF;
}
